body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.floating-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.form-field {
    margin-bottom: 15px;
    text-align: center;  /* Align labels to the left */
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input, .form-field select {
    width: calc(100% - 16px);  /* Adjust width to include padding */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;  /* Ensure padding is included in width calculation */
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.slider-container input[type=range] {
    flex-grow: 1;
    margin: 0 10px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
