body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.floating-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 480px; /* Adjusted width to accommodate both sections */
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input, .form-field select {
    width: 100%; /* Adjust width to include padding */
    padding: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;  /* Ensure padding is included in width calculation */
}

.slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 12px;
}

.slider-container p {
    margin: 8px;
}

.slider-container label {
    margin-right: 5px; /* Adjust this value as needed */
}

.submit-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px; /* Adjust the width as needed */
    margin: 15px auto; /* Center the button and add some space on the top */
}

.submit-button:hover {
    background-color: #0056b3;
}

.number-field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.film-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    margin-bottom: 10px;
    width: 100%;
    height: 26vh; /* Set a fixed height for the film info section */
}

.film-info .form-container {
    flex: 2; /* Take up twice as much space as the genres checkbox */
}

.genre-container {
    flex: 1;
    text-align: left;
    margin-left: 20px;
    overflow-y: auto;
    max-height: 95%;
    padding: 10px; /* Add some padding */
}

.checkbox-field {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background: #fff; /* Add a background color to each checkbox field */
    border-radius: 5px; /* Round the corners */
    padding: 5px; /* Add some padding */
    margin-bottom: 5px; /* Add some space between each checkbox field */
    transition: background 0.3s ease; /* Add a transition for the hover effect */
}

.checkbox-field:hover {
    background: #e0e0e0; /* Change the background color when hovering */
}

.checkbox-field input {
    margin-right: 10px;
    transform: scale(1.2);
}

.checkbox-field label {
    cursor: pointer;
    font-weight: bold; /* Make the genre names bold */
}

.modal {
    display: none; /* Hide the modal by default */
}

.text-field {
    width: 100%; /* Adjust width to include padding */
    padding: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;  /* Ensure padding is included in width calculation */
}

/* Apply similar styles to other labels */
.label-field {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Make the text bold */
}

/* Apply similar styles to other containers */
.container-field {
    background: #f0f0f0; /* Add a background color */
    border-radius: 10px; /* Round the corners */
    padding: 10px; /* Add some padding */
}

/* Apply similar styles to other buttons */
.button-field {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease; /* Add a transition for the hover effect */
}

.button-field:hover {
    background-color: #0056b3; /* Change the background color when hovering */
}

.duration-container {
    width: 80%; /* Adjust the width as needed */
    display: flex; /* Make the container a flex container */
    justify-content: space-between; /* Distribute the space evenly between the fields */
}